# Titanic: Machine Learning from Disaster
## CRISP-DM: Deployment
**Autor:** Wanderson Marques - wdsmarques@gmail.com

Esse Jupyter Notebook contém a predição enviada ao **Kaggle**. Considerando a metodologia CRISP-DM, essa atividade refere-se à última fase, o deployment. 

<img src="imgs/deployment.jpg" />

### Carregar bibliotecas

In [1]:
import pandas as pd
import joblib

### Carregar dataset de teste

In [2]:
dataset = pd.read_csv('datasets/test.csv')
dataset.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### Carregar modelo preditivo

Nesse momento o modelo preditivo já foi treinado, com os dados de treino.

In [3]:
model = joblib.load('models/model.pkl')

### Carregar scaler

In [4]:
scaler = joblib.load('models/scaler.pkl')

### Preparar os dados de validação

Para imputação em valores nulos foram utilizados os valores padrão do conjunto de treino. Age = 29.91, Embarked = S, Sex = male, Fare = 32.02

In [5]:
# Descartar colunas textuais e identificador
identificador = dataset[['PassengerId']]
dataset.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)

# Imputar valores nulos usando padrões do conjunto de treino
dataset.loc[dataset['Age'].isnull(), 'Age'] = 29.91
dataset.loc[dataset['Embarked'].isnull(), 'Embarked'] = 'S'
dataset.loc[dataset['Sex'].isnull(), 'Sex'] = 'male'
dataset.loc[dataset['Fare'].isnull(), 'Fare'] = 32.02

# Transformar variáveis categóricas
dataset = pd.get_dummies(dataset)
dataset.drop(['Embarked_S', 'Sex_male'], inplace=True, axis=1)

### Padronizar atributos

In [7]:
X = scaler.transform(dataset)

### Realizar predição para conjunto de teste

In [8]:
y_pred = model.predict(X)

### Salvar resultado da predição

In [19]:
resultado = pd.concat([identificador, pd.DataFrame(y_pred, columns=['Survived'])], axis=1)
resultado.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [20]:
resultado.to_csv('datasets/resultado.csv', index=False)

### Resultado no Kaggle

Score 0.77033